* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-padding-top: 100px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: auto !important;
  background: #f7fff3 !important;
  font-family: mechodal !important;
  scroll-behavior: smooth !important;
  scroll-snap-type: y mandatory !important;
}
.img-gallery a{
        width: 100%;
    height: 100%;
}
.img-gallery a img{
    border-radius: 20px;
    transition: transform 0.3s ease;
    background-color: transparent;
    /* width: auto; */
    margin-bottom: 15px;
   width: 100%;
    height: 100%;
    object-fit: cover;

}
.img-gallery img:hover{
transform: scale(0.95);
}